//@import "./variables";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  //padding-top: 100px;
  //height: calc(100% - 100px);

  #app {
    //overflow: auto;
    height: 100%;
  }
}

.fas {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
